InsaneRobot/config.py
InsaneRobot/*.session
InsaneRobot/*.session-journal
InsaneRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
InsaneRobot/modules/helper_funcs/temp.txt
InsaneRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
InsaneRobot.session-journal
updates.txt
*.exe
